<div>
  <h1>Bienvenidos a la página principal</h1>
  {{#if session}}
    {{#if alumno}}
      <p>Hola {{alumno.nombre}} {{alumno.apellido}}</p>
      <a href="/api/users/perfil/{{alumno.id}}">Perifl</a>
    {{/if}}
    {{#if profesor}}
      <p>Hola {{profesor.nombre}} {{profesor.apellido}}</p>
      <a href="/api/views/confeccionrutinas">Crear rutina</a>
      <a href="/api/users/perfil/profesor/{{profesor.id}}">Perifl</a>
    {{/if}}
  {{else}}
    <div>
      <a href="./login">Ingreso alumnos</a>
      <a href="./loginprofesores">Ingreso profesores</a>
    </div>
  {{/if}}
</div>